.glitch {
    text-shadow: 2px 0 1px #f6050a, -2px 0 1px #1cf2f2;
    -moz-animation: noise 0.3s infinite;
    -webkit-animation: noise 0.3s infinite;
    animation: noise 0.3s infinite;
}
.glitch span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -moz-animation: glitch 3s infinite alternate;
    -webkit-animation: glitch 3s infinite alternate;
    animation: glitch 3s infinite alternate;
}
