a {
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

a:link {
    color: #77ff7d;
}

a:visited {
    color: #77ff7d;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}