a {
    cursor: pointer;
    text-decoration: none;

    /*-o-transition: color 0.3s ease-out;*/
    /*-ms-transition: color 0.3s ease-out;*/
    /*-moz-transition: color 0.3s ease-out;*/
    /*-webkit-transition: color 0.3s ease-out;*/
    transition: color 0.3s ease-out;
}

a:link {
    color: #0091c9;
}

a:visited {
    color: #00658c;
}

a:hover {
    color: #7fc8e4;
}

a:active {
    color: #b2deee;
}